<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whoiszxl.core.entity.dao.AppVersionMapper">
  <resultMap id="BaseResultMap" type="com.whoiszxl.core.entity.entity.AppVersion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="download_url" jdbcType="VARCHAR" property="download_url" />
    <result column="platform" jdbcType="INTEGER" property="platform" />
    <result column="app_version" jdbcType="VARCHAR" property="app_version" />
    <result column="app_title" jdbcType="VARCHAR" property="app_title" />
    <result column="app_content" jdbcType="VARCHAR" property="app_content" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publish_time" />
    <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, download_url, platform, app_version, app_title, app_content, publish_time, created_at, 
    updated_at
  </sql>
  <select id="selectByExample" parameterType="com.whoiszxl.core.entity.entity.AppVersionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_version
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from app_version
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.whoiszxl.core.entity.entity.AppVersionExample">
    delete from app_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.whoiszxl.core.entity.entity.AppVersion">
    insert into app_version (id, download_url, platform, 
      app_version, app_title, app_content, 
      publish_time, created_at, updated_at
      )
    values (#{id,jdbcType=BIGINT}, #{download_url,jdbcType=VARCHAR}, #{platform,jdbcType=INTEGER}, 
      #{app_version,jdbcType=VARCHAR}, #{app_title,jdbcType=VARCHAR}, #{app_content,jdbcType=VARCHAR}, 
      #{publish_time,jdbcType=TIMESTAMP}, #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whoiszxl.core.entity.entity.AppVersion">
    insert into app_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="download_url != null">
        download_url,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="app_version != null">
        app_version,
      </if>
      <if test="app_title != null">
        app_title,
      </if>
      <if test="app_content != null">
        app_content,
      </if>
      <if test="publish_time != null">
        publish_time,
      </if>
      <if test="created_at != null">
        created_at,
      </if>
      <if test="updated_at != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="download_url != null">
        #{download_url,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=INTEGER},
      </if>
      <if test="app_version != null">
        #{app_version,jdbcType=VARCHAR},
      </if>
      <if test="app_title != null">
        #{app_title,jdbcType=VARCHAR},
      </if>
      <if test="app_content != null">
        #{app_content,jdbcType=VARCHAR},
      </if>
      <if test="publish_time != null">
        #{publish_time,jdbcType=TIMESTAMP},
      </if>
      <if test="created_at != null">
        #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null">
        #{updated_at,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whoiszxl.core.entity.entity.AppVersionExample" resultType="java.lang.Long">
    select count(*) from app_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update app_version
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.download_url != null">
        download_url = #{record.download_url,jdbcType=VARCHAR},
      </if>
      <if test="record.platform != null">
        platform = #{record.platform,jdbcType=INTEGER},
      </if>
      <if test="record.app_version != null">
        app_version = #{record.app_version,jdbcType=VARCHAR},
      </if>
      <if test="record.app_title != null">
        app_title = #{record.app_title,jdbcType=VARCHAR},
      </if>
      <if test="record.app_content != null">
        app_content = #{record.app_content,jdbcType=VARCHAR},
      </if>
      <if test="record.publish_time != null">
        publish_time = #{record.publish_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.created_at != null">
        created_at = #{record.created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated_at != null">
        updated_at = #{record.updated_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update app_version
    set id = #{record.id,jdbcType=BIGINT},
      download_url = #{record.download_url,jdbcType=VARCHAR},
      platform = #{record.platform,jdbcType=INTEGER},
      app_version = #{record.app_version,jdbcType=VARCHAR},
      app_title = #{record.app_title,jdbcType=VARCHAR},
      app_content = #{record.app_content,jdbcType=VARCHAR},
      publish_time = #{record.publish_time,jdbcType=TIMESTAMP},
      created_at = #{record.created_at,jdbcType=TIMESTAMP},
      updated_at = #{record.updated_at,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.whoiszxl.core.entity.entity.AppVersion">
    update app_version
    <set>
      <if test="download_url != null">
        download_url = #{download_url,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=INTEGER},
      </if>
      <if test="app_version != null">
        app_version = #{app_version,jdbcType=VARCHAR},
      </if>
      <if test="app_title != null">
        app_title = #{app_title,jdbcType=VARCHAR},
      </if>
      <if test="app_content != null">
        app_content = #{app_content,jdbcType=VARCHAR},
      </if>
      <if test="publish_time != null">
        publish_time = #{publish_time,jdbcType=TIMESTAMP},
      </if>
      <if test="created_at != null">
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null">
        updated_at = #{updated_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whoiszxl.core.entity.entity.AppVersion">
    update app_version
    set download_url = #{download_url,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=INTEGER},
      app_version = #{app_version,jdbcType=VARCHAR},
      app_title = #{app_title,jdbcType=VARCHAR},
      app_content = #{app_content,jdbcType=VARCHAR},
      publish_time = #{publish_time,jdbcType=TIMESTAMP},
      created_at = #{created_at,jdbcType=TIMESTAMP},
      updated_at = #{updated_at,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>