<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whoiszxl.core.entity.dao.MemberWalletMapper">
  <resultMap id="BaseResultMap" type="com.whoiszxl.core.entity.entity.MemberWallet">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="VARCHAR" property="member_id" />
    <result column="coin_id" jdbcType="INTEGER" property="coin_id" />
    <result column="all_balance" jdbcType="DECIMAL" property="all_balance" />
    <result column="lock_balance" jdbcType="DECIMAL" property="lock_balance" />
    <result column="usable_balance" jdbcType="DECIMAL" property="usable_balance" />
    <result column="status" jdbcType="Integer" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, member_id, coin_id, all_balance, lock_balance, usable_balance, status, created_at, 
    updated_at
  </sql>
  <select id="selectByExample" parameterType="com.whoiszxl.core.entity.entity.MemberWalletExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from member_wallet
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_wallet
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from member_wallet
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.whoiszxl.core.entity.entity.MemberWalletExample">
    delete from member_wallet
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.whoiszxl.core.entity.entity.MemberWallet">
    insert into member_wallet (id, member_id, coin_id, 
      all_balance, lock_balance, usable_balance, 
      status, created_at, updated_at
      )
    values (#{id,jdbcType=BIGINT}, #{member_id,jdbcType=VARCHAR}, #{coin_id,jdbcType=INTEGER}, 
      #{all_balance,jdbcType=DECIMAL}, #{lock_balance,jdbcType=DECIMAL}, #{usable_balance,jdbcType=DECIMAL}, 
      #{status,jdbcType=Integer}, #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whoiszxl.core.entity.entity.MemberWallet">
    insert into member_wallet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="member_id != null">
        member_id,
      </if>
      <if test="coin_id != null">
        coin_id,
      </if>
      <if test="all_balance != null">
        all_balance,
      </if>
      <if test="lock_balance != null">
        lock_balance,
      </if>
      <if test="usable_balance != null">
        usable_balance,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="created_at != null">
        created_at,
      </if>
      <if test="updated_at != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="member_id != null">
        #{member_id,jdbcType=VARCHAR},
      </if>
      <if test="coin_id != null">
        #{coin_id,jdbcType=INTEGER},
      </if>
      <if test="all_balance != null">
        #{all_balance,jdbcType=DECIMAL},
      </if>
      <if test="lock_balance != null">
        #{lock_balance,jdbcType=DECIMAL},
      </if>
      <if test="usable_balance != null">
        #{usable_balance,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=Integer},
      </if>
      <if test="created_at != null">
        #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null">
        #{updated_at,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whoiszxl.core.entity.entity.MemberWalletExample" resultType="java.lang.Long">
    select count(*) from member_wallet
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update member_wallet
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.member_id != null">
        member_id = #{record.member_id,jdbcType=VARCHAR},
      </if>
      <if test="record.coin_id != null">
        coin_id = #{record.coin_id,jdbcType=INTEGER},
      </if>
      <if test="record.all_balance != null">
        all_balance = #{record.all_balance,jdbcType=DECIMAL},
      </if>
      <if test="record.lock_balance != null">
        lock_balance = #{record.lock_balance,jdbcType=DECIMAL},
      </if>
      <if test="record.usable_balance != null">
        usable_balance = #{record.usable_balance,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=Integer},
      </if>
      <if test="record.created_at != null">
        created_at = #{record.created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated_at != null">
        updated_at = #{record.updated_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update member_wallet
    set id = #{record.id,jdbcType=BIGINT},
      member_id = #{record.member_id,jdbcType=VARCHAR},
      coin_id = #{record.coin_id,jdbcType=INTEGER},
      all_balance = #{record.all_balance,jdbcType=DECIMAL},
      lock_balance = #{record.lock_balance,jdbcType=DECIMAL},
      usable_balance = #{record.usable_balance,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=Integer},
      created_at = #{record.created_at,jdbcType=TIMESTAMP},
      updated_at = #{record.updated_at,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.whoiszxl.core.entity.entity.MemberWallet">
    update member_wallet
    <set>
      <if test="member_id != null">
        member_id = #{member_id,jdbcType=VARCHAR},
      </if>
      <if test="coin_id != null">
        coin_id = #{coin_id,jdbcType=INTEGER},
      </if>
      <if test="all_balance != null">
        all_balance = #{all_balance,jdbcType=DECIMAL},
      </if>
      <if test="lock_balance != null">
        lock_balance = #{lock_balance,jdbcType=DECIMAL},
      </if>
      <if test="usable_balance != null">
        usable_balance = #{usable_balance,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=Integer},
      </if>
      <if test="created_at != null">
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null">
        updated_at = #{updated_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whoiszxl.core.entity.entity.MemberWallet">
    update member_wallet
    set member_id = #{member_id,jdbcType=VARCHAR},
      coin_id = #{coin_id,jdbcType=INTEGER},
      all_balance = #{all_balance,jdbcType=DECIMAL},
      lock_balance = #{lock_balance,jdbcType=DECIMAL},
      usable_balance = #{usable_balance,jdbcType=DECIMAL},
      status = #{status,jdbcType=Integer},
      created_at = #{created_at,jdbcType=TIMESTAMP},
      updated_at = #{updated_at,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>