<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whoiszxl.core.entity.dao.ZxlContractsMapper">
  <resultMap id="BaseResultMap" type="com.whoiszxl.core.entity.entity.ZxlContracts">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_name" jdbcType="VARCHAR" property="contract_name" />
    <result column="contract_type" jdbcType="Integer" property="contract_type" />
    <result column="coin_id" jdbcType="INTEGER" property="coin_id" />
    <result column="replace_coin_id" jdbcType="INTEGER" property="replace_coin_id" />
    <result column="buyer_fee" jdbcType="DECIMAL" property="buyer_fee" />
    <result column="seller_fee" jdbcType="DECIMAL" property="seller_fee" />
    <result column="max_orders" jdbcType="INTEGER" property="max_orders" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="Integer" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, contract_name, contract_type, coin_id, replace_coin_id, buyer_fee, seller_fee, 
    max_orders, sort, status, created_at, updated_at
  </sql>
  <select id="selectByExample" parameterType="com.whoiszxl.core.entity.entity.ZxlContractsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zxl_contracts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zxl_contracts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zxl_contracts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.whoiszxl.core.entity.entity.ZxlContractsExample">
    delete from zxl_contracts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.whoiszxl.core.entity.entity.ZxlContracts">
    insert into zxl_contracts (id, contract_name, contract_type, 
      coin_id, replace_coin_id, buyer_fee, 
      seller_fee, max_orders, sort, 
      status, created_at, updated_at
      )
    values (#{id,jdbcType=INTEGER}, #{contract_name,jdbcType=VARCHAR}, #{contract_type,jdbcType=Integer}, 
      #{coin_id,jdbcType=INTEGER}, #{replace_coin_id,jdbcType=INTEGER}, #{buyer_fee,jdbcType=DECIMAL}, 
      #{seller_fee,jdbcType=DECIMAL}, #{max_orders,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{status,jdbcType=Integer}, #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whoiszxl.core.entity.entity.ZxlContracts">
    insert into zxl_contracts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contract_name != null">
        contract_name,
      </if>
      <if test="contract_type != null">
        contract_type,
      </if>
      <if test="coin_id != null">
        coin_id,
      </if>
      <if test="replace_coin_id != null">
        replace_coin_id,
      </if>
      <if test="buyer_fee != null">
        buyer_fee,
      </if>
      <if test="seller_fee != null">
        seller_fee,
      </if>
      <if test="max_orders != null">
        max_orders,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="created_at != null">
        created_at,
      </if>
      <if test="updated_at != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contract_name != null">
        #{contract_name,jdbcType=VARCHAR},
      </if>
      <if test="contract_type != null">
        #{contract_type,jdbcType=Integer},
      </if>
      <if test="coin_id != null">
        #{coin_id,jdbcType=INTEGER},
      </if>
      <if test="replace_coin_id != null">
        #{replace_coin_id,jdbcType=INTEGER},
      </if>
      <if test="buyer_fee != null">
        #{buyer_fee,jdbcType=DECIMAL},
      </if>
      <if test="seller_fee != null">
        #{seller_fee,jdbcType=DECIMAL},
      </if>
      <if test="max_orders != null">
        #{max_orders,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=Integer},
      </if>
      <if test="created_at != null">
        #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null">
        #{updated_at,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whoiszxl.core.entity.entity.ZxlContractsExample" resultType="java.lang.Long">
    select count(*) from zxl_contracts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zxl_contracts
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.contract_name != null">
        contract_name = #{record.contract_name,jdbcType=VARCHAR},
      </if>
      <if test="record.contract_type != null">
        contract_type = #{record.contract_type,jdbcType=Integer},
      </if>
      <if test="record.coin_id != null">
        coin_id = #{record.coin_id,jdbcType=INTEGER},
      </if>
      <if test="record.replace_coin_id != null">
        replace_coin_id = #{record.replace_coin_id,jdbcType=INTEGER},
      </if>
      <if test="record.buyer_fee != null">
        buyer_fee = #{record.buyer_fee,jdbcType=DECIMAL},
      </if>
      <if test="record.seller_fee != null">
        seller_fee = #{record.seller_fee,jdbcType=DECIMAL},
      </if>
      <if test="record.max_orders != null">
        max_orders = #{record.max_orders,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=Integer},
      </if>
      <if test="record.created_at != null">
        created_at = #{record.created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated_at != null">
        updated_at = #{record.updated_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zxl_contracts
    set id = #{record.id,jdbcType=INTEGER},
      contract_name = #{record.contract_name,jdbcType=VARCHAR},
      contract_type = #{record.contract_type,jdbcType=Integer},
      coin_id = #{record.coin_id,jdbcType=INTEGER},
      replace_coin_id = #{record.replace_coin_id,jdbcType=INTEGER},
      buyer_fee = #{record.buyer_fee,jdbcType=DECIMAL},
      seller_fee = #{record.seller_fee,jdbcType=DECIMAL},
      max_orders = #{record.max_orders,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER},
      status = #{record.status,jdbcType=Integer},
      created_at = #{record.created_at,jdbcType=TIMESTAMP},
      updated_at = #{record.updated_at,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.whoiszxl.core.entity.entity.ZxlContracts">
    update zxl_contracts
    <set>
      <if test="contract_name != null">
        contract_name = #{contract_name,jdbcType=VARCHAR},
      </if>
      <if test="contract_type != null">
        contract_type = #{contract_type,jdbcType=Integer},
      </if>
      <if test="coin_id != null">
        coin_id = #{coin_id,jdbcType=INTEGER},
      </if>
      <if test="replace_coin_id != null">
        replace_coin_id = #{replace_coin_id,jdbcType=INTEGER},
      </if>
      <if test="buyer_fee != null">
        buyer_fee = #{buyer_fee,jdbcType=DECIMAL},
      </if>
      <if test="seller_fee != null">
        seller_fee = #{seller_fee,jdbcType=DECIMAL},
      </if>
      <if test="max_orders != null">
        max_orders = #{max_orders,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=Integer},
      </if>
      <if test="created_at != null">
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null">
        updated_at = #{updated_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whoiszxl.core.entity.entity.ZxlContracts">
    update zxl_contracts
    set contract_name = #{contract_name,jdbcType=VARCHAR},
      contract_type = #{contract_type,jdbcType=Integer},
      coin_id = #{coin_id,jdbcType=INTEGER},
      replace_coin_id = #{replace_coin_id,jdbcType=INTEGER},
      buyer_fee = #{buyer_fee,jdbcType=DECIMAL},
      seller_fee = #{seller_fee,jdbcType=DECIMAL},
      max_orders = #{max_orders,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      status = #{status,jdbcType=Integer},
      created_at = #{created_at,jdbcType=TIMESTAMP},
      updated_at = #{updated_at,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>